{% block head %}
<link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
<link rel="stylesheet" href="{{ asset('bundles/acmedemo/css/demo.css') }}" />
{% endblock %}

<h2 class="github-search">Please put a valid GitHub username in the search box below to see a JSON formatted list of their repositories</h2>

{{ form(form) }}

{% if app.user %}
    <p>Hi {{ app.user.username }}</p>
{% endif %}

{% if is_granted('ROLE_USER') %}
    <a href="{{ path('logout') }}">logout</a>
{% else %}
    <a href="{{ path('login') }}">login</a>
{% endif %}